{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seani 2023 - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos1.css' %}">
    <link rel="shortcut icon"  href="{% static 'img/logo.png'%}" style="border-radius: 25%;">
</head>
<body>
    {% block header %}
    {% endblock %}        
    {% block content %}
    {% endblock %}        
    {% block footer %}
    {% endblock %}        
</body>
</html>