
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  body{
    display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh; /* establece la altura completa de la ventana del navegador */
		margin: 0; /* elimina los márgenes predeterminados del cuerpo */
		background-image:  url(https://www.uttlaxcala.edu.mx/images/Logo_utt_oficial_2021_2022.png);
    background-size: contain;
    background-repeat: no-repeat;
		background-position: center center;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  a {
    padding: 1rem 2rem;
    font-size: 2rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
}